<h1><strong>Title:</strong> <%= @auction.title %></h1>
<p><strong>Details:</strong> <%= @auction.details %></p>
<p><strong>Sold By:</strong> <%= @auction.user.name %>
<p><strong>Auction Ends:</strong> <%= @auction.ends_on %></p>
<% if @auction.user = current_user %>
  <%= link_to 'Edit Auction', edit_auction_path(@auction) %>
  <br>
  <%= button_to 'Delete Auction', @auction, method: :delete %>
<% end %>
<% if @auction.bids.length < 1 %>
  <p>No bids yet</p>
<% else %>
  <p><strong>Current Price:</strong> <%= @auction.current_bid %> </p>
<% end %>
<h2>Previous Bids:</h2>
<% @auction.bids.each do |bid| %> 
  <p><strong>Placed By:</strong> <%= bid.user.name %></p>
  <ul>
    <li>$ <%= bid.bid_amount %></li>
  </ul>
<% end %>
<hr>
<h2>Place a Bid on <%= @auction.title %></h2> 
<%= form_for(@bid, url: auction_bids_path(@auction)) do |f| %>
  <p>Amount: <%= f.number_field :bid_amount %></p>
  <%= f.submit "Save" %>
<% end %>
