<h1>Title: <%= @auction.title %></h1>
<p>Details: <%= @auction.details %></p>
<p>Auction Ends: <%= @auction.ends_on %></p>
<% if @auction.bids.length < 1 %>
  <p>No bids yet</p>
<% else %>
  <p>Current Price: <%= @auction.bids.last.bid_amount %> </p>
<% end %>
<p>Previous Bids:</p>
<% @auction.bids.each do |bid| %> 
  <ul>
    <li><%= bid.bid_amount %></li>
  </ul>
<% end %>
  
<%= form_for(@bid, url: auction_bids_path(@auction)) do |f| %>
  <p>Amount: <%= f.number_field :bid_amount %></p>
  <%= f.submit "Save" %>
<% end %>
